body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333; /* nền cho toàn bộ trang */
}

.container {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    background: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        }
        .button, .ton-balance {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            background: #333333;
            border: 1px solid #ff6a00;
            color: #ff6a00;
            font-size: 16px;
            border-radius: 30px;
            cursor: pointer;
            transition: background 0.3s ease;
            margin-top: 10px;
            text-align: left;
            justify-content: flex-start;
        }
        .button img, .ton-balance img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
            border-radius: 10px;
        }
        .button:hover {
            background: #ff6a00;
            color: #fff;
        }
        .logo {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
            color: #ff6a00;
        }
        .connect-text {
            font-size: 16px;
            color: #cccccc;
            margin-bottom: 20px;
        }
        .ton-balance {
            pointer-events: none;
        }
