/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #fff;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;

  
}
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form Styles */
  .form-group input[type="text"],
  .input-with-button input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group, .form-group-small {
    margin-bottom: 20px;
    background-color: #1a1818;
    border-radius: 8px;
    padding: 3px;
  }
  
  .input-with-button {
    position: relative;
  }
  
  .copy-icon {
    width: 20px;
    height: auto;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .button-group {
    text-align: center;
  }
  
  .button-group button {
    padding: 10px 40px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-group button:hover {
    background-color: #218838;
  }
  

  /* Thêm hình ảnh minh hoạ */
.minh-hoa {
    display: block;
    margin: 20px auto; /* Để căn giữa */
    max-width: 100%; /* Để hình ảnh không bị tràn ra khỏi container */
    height: auto; /* Đảm bảo tỷ lệ khung hình không bị biến dạng */
  }
  



  #affiliate-link-input[readonly] {
    color: transparent; /* Thay đổi màu chữ thành màu trong suốt */
    caret-color: initial; /* Đảm bảo màu dấu nháy vẫn giữ nguyên */
    background-color: #f0f0f0; /* Màu nền nhạt để tạo hiệu ứng mờ */
}

.button-group button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-group button:hover {
    background-color: #0056b3;
  }
  
  .required {
    color: rgb(255, 5, 5);
  }

  #register-link {
    color: #007bff; /* Màu văn bản */
    text-decoration: none; /* Loại bỏ gạch chân */
    font-weight: bold; /* Đậm */
    font-size: 16px; /* Kích thước font chữ */
    display: block; /* Biến thành phần tử block để sử dụng margin: auto */
    width: fit-content; /* Đặt chiều rộng tự động dựa trên nội dung */
    margin: auto; /* Căn giữa */
    text-align: center; /* Căn giữa nội dung của liên kết */
margin-top: 10px;
  }

#register-link:hover {
    text-decoration: underline; /* Gạch chân khi di chuột qua */
    cursor: pointer; /* Con trỏ chuột thành bàn tay khi di chuột qua */
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking {
  animation: blink 1s infinite;
}
